body{
    background-image: url("../img/bg_Taipei101_3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contact-form
{
    height: 600px;
    padding: 70px 40px !important;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
}
.avatar
{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);
}
.contact-form h2
{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
}
.contact-form p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.contact-form input
{
    width: 100%;
    margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
#btnSignUp
{
    text-align: center;
    height: 40px;
    color: #fff;
    font-size: 15px;
    background: tomato;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 15%;
    margin-bottom: 30px;
}
#btnSignUp:hover
{
    text-align: center;
    height: 40px;
    color: #fff;
    font-size: 15px;
    background: rgb(255, 50, 14);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 15%;
    margin-bottom: 30px;
}
input[type="checkbox"]
{
    width: 10%;
}
.slogan h1
{
    font-family: "新細明體", "PMingLiU", "微軟正黑體", "Microsoft JhengHei";
    font-weight: bold;
    color:#000;
    position: relative;
    top: 40%;
    left: 10%;
}
.slogan span
{
    position: relative;
    left: 33%;
}
@media (max-width:992px)
{
    .slogan{visibility: hidden;}
}
#error_msg
{
    color: rgb(255, 50, 14);
    text-align: center;
    /* font-weight: normal; */
    display: none;
}
#inputPasswordCheck
{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}